<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-text color="secondary">
      <ion-title>{{starships.name}}</ion-title>
    </ion-text> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> {{starships.name}}</h1>

  <ion-card>
    <ion-item>
      <ion-icon name= "rocket-outline" slot= "start"></ion-icon>
      <ion-label>{{starships.starship_class}}</ion-label>
    </ion-item>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>CREW: {{starships.crew}}</p>
            <p>COST: {{starships.cost_in_credits}}</p>
          </ion-col>
          <ion-col>
            <p>MANUFACTURER: {{starships.manufacturer}}</p>
            <p>PASSENGERS: {{starships.passengers}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
