<ion-tabs>
  
  
  <ion-tab-bar slot="bottom">
  
    <ion-tab-button tab="planets">
      <ion-icon name="planet"></ion-icon>
      <ion-text color="danger"> 
        <ion-label>planets</ion-label>
      </ion-text>
    </ion-tab-button>
  

    <ion-tab-button tab="people">
      <ion-icon name="people-circle"></ion-icon>
      <ion-text color="danger">
        <ion-label>people</ion-label>
      </ion-text>  
    </ion-tab-button>

    <ion-tab-button tab="starships">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-text color="danger">
        <ion-label>starships</ion-label>
      </ion-text>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
